*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

// Header
.header{
    background-color: #555;
    padding: 10px;
    height: 80px;
    color: white;
    line-height: 60px;
    .header__title{
        font-size: 30px;
        font-weight: lighter;
    }
    .header__author{
        font-size: 20px;
        .header__link{
            color: white;
        }
    }
}

// Container
.container{
    padding: 40px;
    height: 86.2vh;
    display: flex;
    justify-content: space-around;
    .container__form{
        width: 35%;
        box-shadow: 0px 0px 20px #ccc;
        padding: 20px;
        .container__form-btn{
            width: 100%;
            border-radius: 5px;
            border: 0px;
            padding: 10px;
            color: white;
            background-color: #555;
            margin-top: 40px;
            font-size: 20px;
        }
        .container__title{
            font-weight: 300;
            font-size: 30px;
            margin: 10px 0px 20px 0px;
        }
        .container__label{
            font-size: 22px;
        }

        .container__input{
            width: 100%;
            padding: 5px;
            margin: 10px 0px;
            border: 1px solid #dcdcdc;
            color: #888;
            outline: none;
            transition: all 300ms;
            font-size: 18px;
            border-radius: 5px;
        }

        .container__input:focus{
            border: 1px solid #555;
            color: #333;
        }
    }

    .container__table{
        width: 50%;
        border-collapse: collapse;
        box-shadow:  0px 0px 20px #ccc;
        .container__th{
            padding: 20px;
            font-weight: 300;
            font-size: 25px;
        }
        .container__td{
            border: 1px solid #dcdcdc;
            padding: 10px;
            .container__btn{
               display: block;
               margin: 0px auto;
               margin-bottom: 5px;
               width: 100px;
               padding: 5px;
               color: white; 
               background-color: #555;
               text-align: center;
               text-decoration: none;
            }
            .container__btn--delete{
                background-color: rgb(180, 3, 3);
            }
        }
    }
}

// Footer

.footer{
    background-color: #555;
    text-align: center;
    height: 50px;
    color: white;
    line-height: 45px;
    font-size: 20px;
}